<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.google.com/jsapi"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="node_modules/chart.js/dist/Chart.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <script src="node_modules/chart.js/dist/Chart.bundle.js"></script>
  <script src="node_modules/chartkick/dist/chartkick.min.js"></script>
  <title>Taxa de Velocidade</title>
</head>
<body>
  <h1>Taxa de Velocidade</h1>
  <%= yield %> 
</body>
</html>